<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Simia Capital</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <% unless flash.empty? %>
      <div class="flash">
        <% flash.each do |type, message| %>
        <%= message %>
        <% end %>
      </div>
    <% end %>

    <%= render 'layouts/topbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
